<div class="row vertical-offset-100">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Sign up</h2>
      </div>
      <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
          </div>
          <div class="form-group">
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation',
                                 class: 'form-control' %>
          </div>
          <%= f.submit 'Sign up', class: 'btn btn-lg btn-success btn-block' %>
        </fieldset>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
