<div class="row">
  <div class="col-md-4">
    <%= form_for(task) do |f| %>
        <% if task.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(task.errors.count, 'error') %> prohibited this task from being saved:</h2>
              <ul>
                <% task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <fieldset>
          <div class="form-group">
            <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_area :description,  placeholder: 'Description', class: 'form-control' %>
          </div>
          <%= f.submit 'Create task', class: 'btn btn-success' %>
        </fieldset>
    <% end %>
  </div>
</div>
