<div class="card">
  <strong> <%= task.title %></strong>
  <small> <%= link_to :delete, task_path(task), method: :delete %></small><br>
  <p><%= task.description %></p>
  <%= form_for task, url: "/tasks/#{task.id}", method: :patch do |f| %>
    <small><%= f.label(:completed) %></small>
    <%= f.check_box :completed %>
  <% end -%>
  <small>
    <%= "Last update: #{time_ago_in_words(task.updated_at)} ago" %>
  </small>
</div>