<div class="row vertical-offset-100">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Log In</h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: 'checkbox' %>
              </div>
            <% end -%>
            <%= f.submit 'Log in', class: 'btn btn-lg btn-success btn-block' %>
          </fieldset>
        <% end %>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>