body {
  background-color: #efefef;
}

.bg-inverse {
  background-color: #2E2F30 !important;
}

nav > ul > li {
  a:visited {
    color: white !important;
  }
}

a:hover {
  background-color: #efefef;
  text-decoration: none;
}

.vertical-offset-100 {
  padding-top: 100px;
  .col-md-offset-4 {
    margin-left: 25vw;
  }
}

.tasks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: visible;
  padding: 10px 5px 5px 5px;
  
  .card {
    width: 300px;
    margin: 0 5px;
    padding: 5px;
    flex-shrink: 0;
    
    form {
      padding: 5px;
    }
  }
}