<nav class="navbar navbar-dark bg-inverse">
  <%= link_to root_path, class: 'navbar-brand' do -%>
    <h2>TO-DO SAGE</h2>
  <% end -%>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <% if user_signed_in? -%>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success' %>
      <% else -%>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-outline-success' %>
      <% end -%>
    </li>
  </ul>
</nav>