<!DOCTYPE html>
<html>
  <head>
    <title>ToDoSage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <% unless notice.blank? -%>
          <div class="alert alert-info alert-dismissable">
            <%= link_to '#', class: 'close', data: { dismiss: :alert } do -%>
                &times;
            <% end -%>
            <p id="notice"><%= notice %></p>
          </div>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>
